<div id="preloader">
  <div class="pl-logo"><span class="toxic">Toxic</span><span class="watch">Watch</span></div>
  <div class="pl-dots">
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="pl-text">Loading anime...</div>
</div>
